{% extends "layout.html" %}

{% block title %}Home | Wolf Central{% endblock %}

{% block content %}
<div class="hero-blue-section">
    <section class="welcome-area">
        <h1>Welcome to Wolf Central</h1>
        <p>The central hub for University of Wolverhampton students.</p>
        
        <div class="action-buttons">
            <a href="#" class="btn">Sign Up</a>
            <a href="#" class="btn secondary">Explore</a>
        </div>
    </section>
</div>
{% endblock %}