<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wolf Central{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="top-bar">
        <a href="index.php" class="logo-link">
            <div class="branding">
                <img src="Images/titlelogo.png" alt="Wolf Central Logo">
                <div class="title">Wolf Central</div>
            </div>
        </a>

        {% include 'navigation.html' %}
    </header>

    <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>

    <footer class="bottom-section">
        <div>
            <h3>University of Wolverhampton</h3>
            <p>Campuses in Wolverhampton, Walsall and Telford.</p>
        </div>
        <div>
            <h3>Quick Links</h3>
            <p><a href="https://canvas.wlv.ac.uk/">Canvas</a> | <a href="https://smsweb.wlv.ac.uk/urd/sits.urd/run/siw_lgn">e:Vision</a> | <a href="https://www.wlv.ac.uk/lib/">Library</a></p>
        </div>
        <div>
            <h3>Contact Us</h3>
            <p>support@wlv.ac.uk</p>
        </div>
    </footer>

</body>

</html>